{% extends 'base.html.twig' %}

{% block title %}Gamme index{% endblock %}

{% block body %}
    <h1>Gamme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gamme in gammes %}
            <tr>
                <td>{{ gamme.id }}</td>
                <td>{{ gamme.Nom }}</td>
                <td>
                    <a href="{{ path('gamme_show', {'id': gamme.id}) }}"><img src="\img\show.png"></a></a>
                    <a href="{{ path('gamme_edit', {'id': gamme.id}) }}"><img src="\img\edit.png"></a></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gamme_new') }}"><img src="\img\create.png"></a>
{% endblock %}
