{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <h1>Factures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ facture.prix }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ facture.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('factures_index') }}">back to list</a>

    

  
{% endblock %}
