{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>NumeroSerie</th>
                <th>Couleur</th>
                <th>Matricule</th>
                <th>Kilometrage</th>
                <th>DateAchat</th>
                <th>PrixAchat</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.Marque }}</td>
                <td>{{ vehicule.Modele }}</td>
                <td>{{ vehicule.NumeroSerie }}</td>
                <td>{{ vehicule.Couleur }}</td>
                <td>{{ vehicule.Matricule }}</td>
                <td>{{ vehicule.Kilometrage }}</td>
                <td>{{ vehicule.DateAchat ? vehicule.DateAchat|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.PrixAchat }}</td>
                <td>{{ vehicule.Disponible }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">show</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}"><img src="\img\create.jpg"></a>
{% endblock %}
