{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.Marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.Modele }}</td>
            </tr>
            <tr>
                <th>NumeroSerie</th>
                <td>{{ vehicule.NumeroSerie }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ vehicule.Couleur }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ vehicule.Matricule }}</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ vehicule.Kilometrage }}</td>
            </tr>
            <tr>
                <th>DateAchat</th>
                <td>{{ vehicule.DateAchat ? vehicule.DateAchat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PrixAchat</th>
                <td>{{ vehicule.PrixAchat }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ vehicule.Disponible }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicule_index') }}"><img src="\img\back.png"></a>

    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}"><img src="\img\edit.png"></a></a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
