{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
<div class="example-wrapper">



    <br><br>

    {{ form_start(form) }}
    <div class="w3-container w3-red">
        <h2>Input Form</h2>
    </div>
<h2>All fields marked with an asterisk (<font color="red">*</font>) are mandatory</h2>
        <label class="w3-text"><b>{{ form_label(form.Prenom) }}<font color="red"> *</font></b></label>
       <br> {{ form_errors(form.Prenom) }}
        {{ form_widget(form.Prenom) }}
        {{ form_help(form.Prenom) }}
        <br>
        <label class="w3-text"><b> {{ form_label(form.Nom) }}<font color="red"> *</font></b></label>
        <br>{{ form_errors(form.Nom) }}
        {{ form_widget(form.Nom) }}
        {{ form_help(form.Nom) }}

        <br> <label class="w3-text"><b> {{ form_label(form.Adresse) }}<font color="red"> *</font></b></label>
        <br>{{ form_errors(form.Adresse) }}
        {{ form_widget(form.Adresse) }}
        {{ form_help(form.Adresse) }}

        <br><label class="w3-text"><b> {{ form_label(form.Email) }}<font color="red"> *</font></b></label>
        <br>{{ form_errors(form.Email) }}
        {{ form_widget(form.Email) }}
        {{ form_help(form.Email) }}

        <br><label class="w3-text"><b> {{ form_label(form.Telephone) }}<font color="red"> *</font></b></label>
        <br>{{ form_errors(form.Telephone) }}
        {{ form_widget(form.Telephone) }}
        {{ form_help(form.Telephone) }}

        <br><label class="w3-text"><b> {{ form_label(form.NumPermis) }}<font color="red"> *</font></b></label>
        <br>{{ form_errors(form.NumPermis) }}
        {{ form_widget(form.NumPermis) }}
        {{ form_help(form.NumPermis) }}

        <br> <label class="w3-text"><b> {{ form_label(form.password.first) }}<font color="red"> *</font></b></b></label>
        <br>{{ form_errors(form.password.first) }}
        {{ form_widget(form.password.first) }}
        {{ form_help(form.password.first) }}
        <br><label class="w3-text"><b> {{ form_label(form.password.second) }}<font color="red"> *</font></b></b></label>
        <br>{{ form_errors(form.password.second) }}
        {{ form_widget(form.password.second) }}
        {{ form_help(form.password.second) }}
        <br>




<br>
    {{ form_row(form.submit) }}



    {{ form_end(form) }}
</div>
{% endblock %}
