{% extends 'base.html.twig' %}

{% block title %}TypeVehicule index{% endblock %}

{% block body %}
    <h1>TypeVehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_vehicule in type_vehicules %}
            <tr>
                <td>{{ type_vehicule.id }}</td>
                <td>{{ type_vehicule.Nom }}</td>
                <td>
                    <a href="{{ path('type_vehicule_show', {'id': type_vehicule.id}) }}"><img src="\img\show.png"></a></a>
                    <a href="{{ path('type_vehicule_edit', {'id': type_vehicule.id}) }}"><img src="\img\edit.png"></a></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_vehicule_new') }}">Create new</a>
{% endblock %}
