{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <h1>Ville index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.Nom }}</td>
                <td>
                    <a href="{{ path('ville_show', {'id': ville.id}) }}"><img src="\img\show.png"></a></a>
                    <a href="{{ path('ville_edit', {'id': ville.id}) }}"><img src="\img\edit.png"></a></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ville_new') }}"><img src="\img\create.jpg"></a>
{% endblock %}
