{% extends 'base.html.twig' %}

{% block title %}Hello LocationsController!{% endblock %}

{% block body %}

        {% for vehicule in vehicules %}
            <h1><a href='{{ path("user_vehicule_to_rent", {"idVehicule": vehicule.id,"idOffreLocationLocation":idOffreLocationLocation }) }}' >{{vehicule.marque}} {{vehicule.modele}}</a></h1>
            <a href='{{ path("user_vehicule_to_rent", {"idVehicule": vehicule.id,"idOffreLocationLocation":idOffreLocationLocation }) }}' >Couleur: {{vehicule.couleur}} <br> Kilometrage: {{vehicule.kilometrage}}
        {% endfor %}

{% endblock %}